h1{
    width: 100%;
    margin: 0;
    background-color:#1d1e22;
    color: azure;
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 50px;
}
body{
    margin: 0;
}


.form{
    background-color: #393f4d;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    color: #feda6a;
    
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    background-color: #1d1e22;
    float: right;

}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    background-color: #1d1e22;
    float: left;

}
.contain{
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}
.submit{
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #feda6a;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px
}
.header{
    color: #feda6a;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.label{
    font-size: 20px;
}
